<footer class="footer" *ngIf="todos.length!=0">
    <!-- This should be `0 items left` by default -->
    <span class="todo-count"><strong>{{active_items}}</strong> item left</span>
    <!-- Remove this if you don't implement routing -->

    <ul class="filters">
        <li>
            <a [class.selected]="filter_type=='All'" (click)="filter_type='All'" href="#/">All</a>
        </li>
        <li>
            <a [class.selected]="filter_type=='Active'" (click)="filter_type='Active'" href="#/active">Active</a>
        </li>
        <li>
            <a [class.selected]="filter_type=='Completed'" (click)="filter_type='Completed'" href="#/completed">Completed</a>
        </li>
        <li>
            <a (click)="save()" href="#/Save">Save</a>
        </li>

    </ul>
    <!-- Hidden if no completed items are left ↓ -->
    <button class="clear-completed" (click)="btnClear()">ClearCompleted</button>


</footer>